h1 {
  text-align: center;
  font-family: Lucida Console;
  font-size: 80px;
  color: #0C134F;
}

h2 {
  text-align: left;
  font-family: Lucida Console;
  font-size: 50px;
  color: #2A2F4F;
}

body {
  background-color:#E5BEEC;
  background-image: url('6975307_23838.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

  a:link, a:visited {
background-color: #A084DC;
color: white;
padding: 14px 25px;
text-align: center;
text-decoration: none;
font-family: Lucida Console;
font-size: 25px;
display: inline-block;
margin: 25px 50px 75px 50px;
}


a:hover, a:active {
background-color: #645CBB;
}

p {
  text-align: justify;
  font-family: Lucida Console;
  font-size: 30px;
  color: #2A2F4F;
}
